version: '3.3'

services:
  bot:
    image: bot-image
    container_name: bot
    hostname: bot
    stop_signal: SIGINT
    build:
      context: .
    working_dir: "/usr/src/app/bot"
    volumes:
    - .:/usr/src/app/bot
    command: python3 bot.py
    env_file:
      - ".env"
    depends_on:
      - db
      - nginx
    networks:
    - tg_bot

  db:
    container_name: db
    hostname: db
    image: postgres:12.2

    environment:
      - POSTGRES_DB=$DB_NAME
      - POSTGRES_USER=$DB_USER
      - POSTGRES_PASSWORD=$DB_PASS
    restart: always
    networks:
      - tg_bot
    env_file:
      - ".env"
    volumes:
      - ./postgres:/var/lib/postgresql

  nginx:
    image: nginx:1.21.6
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./log:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    networks:
      - tg_bot
  

networks:
  tg_bot:
    driver: bridge
